 .App {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.App UserIcon{
  /*position: relative;*/
  margin-top: 100px;
  margin-left: 200px;
}

#loading-statement{
  margin-top: 0px;
  margin-left: 580px;
}
p{
  text-align: center;
  margin-top: 0px;
  margin-right: 20px;
}

input{
  font-size: 40;
  color: black;
  width: 350px;
  height: 40px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background: rgb(80, 75, 75);
}

button {
  background: rgb(122, 2, 138);
  font-size: 40;
  color: white;
  width: 175px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border-color: black;
}

body{
  background-image: url('background.png');
  background-size: 1550px 800px;
  background-repeat: repeat;
}

#bold{
  font-size: 60px;
}

element.style {
  text-align: center;
}
