 .App {
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
}

.App #repos{
  text-align: left;
}

.App UserIcon{
  position: relative;
  left: 1000px;
  top: 20;
}

#loading-statement{
  position: relative;
  top:  320px;
  left: 30px;
}

.App-link {
  color: #050505;
}

body{
  background-image: url('background.png');
  background-size: 1550px 800px;
  background-repeat: repeat;
}

#bold{
  font-size: 60px;
}

element.style {
  text-align: center;
}

#repos{
  text-align: center;
}
