 .App {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.App UserIcon{
  position: relative;
  left: 1000px;
  top: 20;
}

#loading-statement{
  position: relative;
  top:  320px;
  left: 30px;
}

.App-link {
  color: #050505;
}
button:hover {
  cursor: pointer;
  background: rgb(80, 75, 75);
}

button {
  background: black;
  color: white;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  outline: none;
  border-color: black;
  
}

body{
  background-image: url('background.png');
  background-size: 1550px 800px;
  background-repeat: repeat;
}

#bold{
  font-size: 60px;
}

element.style {
  text-align: center;
}
